<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
    <ion-buttons slot="start">
      <!--<ion-img src="../../assets/imagenes/logo.png" alt="logo" style="width:100px;"></ion-img>-->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="align-content: center;">
  <ion-img src="../../assets/imagenes/logo.png" alt="logo" style="width:300px; center;"></ion-img>




  <div class="content-container">
    <div class="login-container">
      <div class="input-container">
        <ion-item class="transparent-input">
          <ion-label position="floating">Username</ion-label>
          <ion-input [(ngModel)]="username" type="text" id="username"></ion-input>
        </ion-item>
  
        <ion-item class="transparent-input">
          <ion-label position="floating">Password</ion-label>
          <ion-input [(ngModel)]="password" type="password" id="password"></ion-input>
        </ion-item>
      </div>
      <button class="custom-button" (click)="login()">Login</button>   
      </div>
      </div>
  
</ion-content>
