<ion-content [fullscreen]="true" style="align-content: center;">
  <ion-img src="../../assets/imagenes/logo.png" alt="logo" style="width:300px; center;"></ion-img>




  <div class="content-container">
    <div class="login-container">
      <div class="input-container">
        <ion-item class="transparent-input">
          <ion-label position="floating">Usuario</ion-label>
          <ion-input [(ngModel)]="username" type="text" id="username"></ion-input>
        </ion-item>
  
        <ion-item class="transparent-input">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" type="password" id="password"></ion-input>
        </ion-item>
      </div>
      <ion-button (click)="login()">Ingresar</ion-button>  

      <ion-item routerLink="/registro">
        <ion-button  expand="block" fill="outline" style="width: 100%;">
          
          Registrese
        </ion-button>
      </ion-item>      


    </div>
      </div>
  
</ion-content>
